In [19]:
import pandas as pd
from scipy.stats import chi2_contingency

# Membaca dataset
df = pd.read_csv('../Employee.csv')

# Membuat tabel kontingensi untuk menghitung frekuensi kemunculan setiap kombinasi nilai antara dua variabel.
contingency_table = pd.crosstab(
    df['Education'], df['Gender'])

In [20]:
contingency_table

Gender     Female  Male
Education
Bachelors    1435  2166
Masters       371   502
PHD            69   110

In [21]:
# Melakukan uji Chi-Square
chi2, _, _, expected = chi2_contingency(contingency_table)

"Hasil nilai X2 nya adalah : ", chi2

('Hasil nilai X2 nya adalah : ', 2.2832339333149645)

In [26]:
"Berikut adalah Matriks nya : ", expected

('Berikut adalah Matriks nya : ',
 array([[1451.07994842, 2149.92005158],
        [ 351.78916828,  521.21083172],
        [  72.1308833 ,  106.8691167 ]]))